@import "src/base.scss";

.DetailedStatistics {
  height: 100%;
  box-shadow: 0px 3.61px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background-color: $white-color;
  overflow: hidden;

  & > div {
    height: 100%;
  }
}