@import "../../base";

.Menu {
  width: 290px;
  box-shadow: 0px 3.61062px 9.02655px rgba(0, 0, 0, 0.05);
  padding: 27px 24px 77px;
  display: flex;
  flex-direction: column;

  @include media("max", "xxxxl") {
    width: 232px;
    padding: 21px 19px 61px;
  }
  @include media("max", "xl") {
    width: 193px;
    padding: 18px 16px 51px;
  }

  .logo,
  .nav,
  .currentClub {
    border-bottom: 1px solid $border-menu-color;
  }

  .logo {
    padding-bottom: 27px;
    margin-bottom: 13px;

    @include media("max", "xl") {
      padding-bottom: 17px;
      margin-bottom: 8px;
    }

    .logoImg {
      width: 242px;
      height: 35px;

      @include media("max", "xxxxl") {
        width: 194px;
        height: 28px;
      }
      @include media("max", "xl") {
        width: 161px;
        height: 23px;
      }
    }
  }

  .nav {
    margin-bottom: 14px;

    @include media("max", "xxxxl") {
      margin-bottom: 11px;
    }
    @include media("max", "xl") {
      margin-bottom: 9px;
    }

    &Title {
      font-weight: 600;
      font-size: 16px;
      color: $grey-color;
      margin-bottom: 31px;

      @include media("max", "xxxxl") {
        font-size: 13px;
        margin-bottom: 23px;
      }
      @include media("max", "xxxxl") {
        font-size: 11px;
        margin-bottom: 20px;
      }
    }
  }

  .currentClub {
    padding-bottom: 33px;

    @include media("max", "xxxxl") {
      padding-bottom: 26px;
    }
    @include media("max", "xl") {
       padding-bottom: 22px;
     }

    &Title {
      font-weight: 600;
      font-size: 16px;
      color: $grey-color;
      margin-bottom: 24px;

      @include media("max", "xl") {
        margin-bottom: 16px;
        font-size: 11px;
      }
    }

    &Inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;

      @include media("max", "xxxxl") {
        margin-bottom: 19px;
      }
      @include media("max", "xl") {
        margin-bottom: 16px;
      }
    }

    &Logo {

      @include media("max", "xxxxl") {
        width: 70px;
        height: 45px;
      }
      @include media("max", "xl") {
        width: 58px;
        height: 38px;
      }
    }

    &Name {
      margin-top: 8px;
      font-weight: 600;
      font-size: 20px;
      color: $dark-blue-color;

      @include media("max", "xxxxl") {
        margin-top: 6px;
        font-size: 16px;
      }
      @include media("max", "xl") {
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }

  .selectedClubs {
    padding: 7px 27px 17px;
    border-radius: 17px;
    background-color: $bg-grey;
    color: $dark-blue-color;
    margin-bottom: 21px;

    @include media("max", "xxxxl") {
      padding: 5px 27px 13px;
      border-radius: 13px;
      margin-bottom: 16px;
    }
    @include media("max", "xl") {
      padding: 4px 17px 11px;
      border-radius: 11px;
      margin-bottom: 13px;
    }

    &Title {
      padding-left: 22px;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 9px;
      position: relative;

      @include media("max", "xxxxl") {
        padding-left: 17px;
        font-size: 11px;
        margin-bottom: 7px;
      }
      @include media("max", "xl") {
        padding-left: 14px;
        font-size: 9px;
        margin-bottom: 6px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        display: block;
        left: 0;
        background-image: url("../../images/Menu/currentClub/starIcon.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include media("max", "xxxxl") {
          width: 12px;
          height: 12px;
        }
        @include media("max", "xl") {
           width: 10px;
           height: 10px;
         }
      }
    }
  }

  .selectNewClub {

    &Link {
      font-weight: 600;
      font-size: 16px;
      color: $dark-blue-color;
      padding-left: 50px;
      position: relative;

      @include media("max", "xxxxl") {
        font-size: 13px;
      }
      @include media("max", "xl") {
        font-size: 11px;
        padding-left: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 20px;
        display: block;
        width: 23px;
        height: 18px;
        background-image: url(../../images/Menu/currentClub/selectNewClubIcon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include media("max", "xl") {
          width: 15px;
          height: 11px;
          left: 12px;
          top: 3px;
        }
      }
    }
  }

  .feedback {
    align-self: flex-end;

    &Link {
      display: block;
      background-color: $orange-color;
      border-radius: 5px;
      padding: 9px 13px 9px 50px;
      font-weight: 600;
      font-size: 16px;
      color: $white-color;
      position: relative;

      @include media("max", "xxxxl") {
        padding: 7px 7px 7px 45px;
        font-size: 13px;
      }
      @include media("max", "xl") {
        padding: 6px 7px 6px 38px;
        font-size: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 21px;
        display: block;
        width: 24px;
        height: 22px;
        background-image: url(../../images/Menu/feedback/feedbackIcon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include media("max", "xxxxl") {
          width: 19px;
          height: 17px;
        }
        @include media("max", "xxxxl") {
          width: 15px;
          height: 14px;
          left: 14px;
        }
      }
    }
  }
  &Inner {
    flex: 1 1 auto;
  }
}