@import "../../../base";

.navItem {
  margin-bottom: 33px;

  @include media("max", "xxxxl") {
    margin-bottom: 28px;
  }
  @include media("max", "xl") {
    margin-bottom: 21px;
    font-size: 12px;
  }

  &Link {
    color: $grey-color;
    display: flex;
    align-items: center;
    position: relative;
  }

  &Link::after {
    content: "";
    position: absolute;
    right: -24px;
    display: block;
    width: 3px;
    height: 52px;
    background-color: transparent;
    border-radius: 2px;

    @include media("max", "xxxxl") {
      right: -19px;
    }
    @include media("max", "xl") {
      right: -16px;
    }
  }

  .activeLink.navItemLink::after {
    background-color: $dark-blue-color;
  }

  &Link:hover .iconWrap svg > path,
  .activeLink .iconWrap svg > path {
    fill: $dark-blue-color;
    stroke: $dark-blue-color;
  }

  &Link:hover,
  .activeLink {
    color: $dark-blue-color;
    font-weight: 600;
  }


  &LinkText {
    margin-left: 16px;

    @include media("max", "xl") {
      margin-left: 9px;
    }
  }

  .iconWrap svg {
    width: 25px;

    @include media("max", "xl") {
      width: 16px;
    }
  }
}