@import "../../../base";

.selectedClubsItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid $border-menu-color;

  @include media("max", "xxxxl") {
    padding: 6px;
  }
  @include media("max", "xl") {
    padding: 5px;
  }

  &Text {
    margin-left: 9px;

    @include media("max", "xxxxl") {
      margin-left: 7px;
      font-size: 11px;
    }
    @include media("max", "xl") {
      margin-left: 6px;
      font-size: 9px;
    }
  }

  .img {

    @include media("max", "xxxxl") {
      width: 24px;
      height: auto;
    }
    @include media("max", "xl") {
      width: 20px;
      height: auto;
    }
  }

  .imgWrap {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media("max", "xxxxl") {
      width: 24px;
    }
    @include media("max", "xl") {
      width: 20px;
    }
  }
}